.sec-boletin .col-md-12.section {
    padding:0;
}

img.banner-boletin {
    width: 100%;
}

.row.boletin {
    padding: 2% 11%;
}

.boletin-ener .col-md-6.section-iz, .boletin-ener .col-md-6.section-de {
    width: 100%;
}

.boletin-ener .col-md-6.section-iz {
    margin-right: 5%;
}

.boletin-ener .col-md-6.section-de {
    margin-left: 5%;
}

img.reserva_agua {
    width: 90%;
    text-align: center;
    margin-top: 10%;
}

.boletin-ener h1.titulos {
    font-size: 2.5em;
}

.boletin-ener hr {
    border: 2px solid #0AA83C;
    width: 30%;
    margin: 0 0 8% 0;
}

.row.embalse {
padding: 3% 11%;
    text-align: center;
}

.embalse .col-md-12.section {
    padding: 0;
    text-align: center;
}

img.embalse {
    width: 85%;
    margin:auto;
}

.row.aportes_SIN {
    padding: 2% 11%;
}

.aportes_SIN .col-md-6.section-iz, .aportes_SIN .col-md-6.section-de {
    width: 100%;
}

img.aportes_hidrologicos {
    width: 100%;
}

.row.reservas_SIN {
    padding: 2% 11%;
}

img.reservas_hidricas {
    width: 100%;
}

.row.evolucion {
    padding: 2% 0;
}

img.evolucion_costo {
    width: 100%;
}

.evolucion .col-md-6.section-iz {
    padding-left: 11%;
}

.row.evolucion {
    padding: 2% 0;
    display: flex;
    align-items: center;
}

.row.tendencia {
    padding: 2% 11%;
    background: #E6E7E8;
}


img.tendencia {
    width: 100%;
}


.row.generacion_SIN {
    padding: 2% 0;
}

img.generacion {
    width: 100%;
}

.generacion_SIN .col-md-6.section-de {
    padding-right: 11%;
}

.row.comportamiento {
    padding: 2% 11% 0;
    display: flex;
    align-items: center;
}

img.comportamiento {
    width: 100%;
}