img.limites {
    width: 100%;
}

.row.section.coy-sec-limites .col-md-6.section.col-iz {
    width: 90%;
    padding-left: 11%;
    padding-top: 12%;

}

.row.section.coy-sec-limites h1 {
    margin: 0;
    font-size: 6em;
}

.row.section.coy-sec-limites h3 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 4%;

}

h1.fondo-azul {
    background: linear-gradient(270deg, #00adee 0%, #0052a8 100%);
    color: white;
    padding: 1% 0;
    width: 115%;
    text-align: center;
}

.row.section.coy-sec-limites hr {
    height: 3px;
    width: 20%;
    margin: 0;
    background: linear-gradient(270deg, rgba(0,173,238,1) 0%, rgba(0,82,168,1) 100%);
    margin-bottom: 15%;

}

.row.section.sec-middle-part {
margin: 4% 0;
display: flex;
align-items: center;
}


.row.section.sec-middle-part .col-md-6.section.col-de {
    width: 100%;
}

.row.section.sec-middle-part .col-md-6.section.col-de p {
        padding: 4% 12% 0 34%;

}

img.limites {
    width: 120%;
    position: relative;
    margin-left: -20%;
    z-index: -99 !important;
}

p.text-left.parrafo-1 {
    margin-top: 15%;
    width: 70%;
}

.row.section.sec-middle-part .col-md-6.section.col-iz {
    background: linear-gradient(270deg, #00adee 0%, #0052a8 100%);
        width: 35%;

}

img.calc {
    width: 100%;
    margin-top: 8%;
    margin-left: 70%;
    margin-bottom: 7%;
}


.col-md-12.section.card {
    padding: 0;
}


img.card-img {
    width: 100%;
    margin-top: 9%;
}


.row.section.sec-card-part {
    padding: 5% 11%;
}

.row.section.sec-card-part p {
    width: 40%;
    position: relative;
    z-index: 999 !important;
    margin: 0px 0 -30% 5%;

}

.col-md-12.section.f-b {
    padding: 0;
}

.col-md-12.section.f-b img.bann-img {
    width: 100%;
}

.row.section.sec-final-banner p {
    width: 30%;
    margin: auto;
    background: #0054AA;
    color: white;
    padding: 3% 5%;
    text-align: center;
    line-height: 20px;
    margin-top: -9%;
    position: relative;
    mix-blend-mode: hard-light;
    font-size: 1.1em;
}