.row.imagen-grande {
    background-image: url(../img/continuidad-seguridad/fondo-cont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 18%;
}

.row.imagen-grande p{
    color: white;
}

.row.imagen-grande p.par-1 {
    margin-left: 42%;
}

.row.columnas-continuidad .col-md-6.col-der, .col-md-6.col-izq {
    width: 100%;
    margin: 2%;
}

.row.columnas-continuidad hr, .row.columnas-continuidad-2 hr {
    Background: linear-gradient(270deg, rgba(0,173,238,1) 0%, rgba(0,82,168,1) 100%);
    width: 60%;
    margin: 0;
    height: 4px;
    border:none;
}

img.ilus {
    width: 100%;
    margin-top: 5%;
    
}

img.ctt {
    width: 80%;
     margin: 4% 0 10% 0;
}

.columnas-continuidad .col-der p:first-child {
    margin-left: 5%;
}

p.text-left.corrido, hr.text-left.corrido {
    margin-left: 12%;
}

.row.middle-section .col-md-6.section {
    width: 100%;
    text-align: end;
}

.row.middle-section .col-md-6.section.s-1 {
    padding: 3% 0 3% 8%;
}

img.chs {
    width: 85%;
}

.row.middle-section {
    border: 4px solid #0AB7F3;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.row.columnas-continuidad-2 {
    display: flex;
    align-items: center;
}

.row.columnas-continuidad-2 img.img-izq-2 {
    width: 70%;
}

.row.columnas-continuidad-2 .col-md-6.col-izq {
    text-align: center;
}

.row.columnas-continuidad-2 p.text-left {
    margin-right: 20%;
}

.row.columnas-continuidad-2 .col-md-6.col-der {
    width: 100%;
}

.row.columnas-continuidad-2 p.text-left.fondo-azul {
    Background: linear-gradient(270deg, rgba(0,173,238,1) 0%, rgba(0,82,168,1) 100%);
    padding: 5%;
    margin-top: 10%;

}

.col-md-12.section {
    text-align: center;
}

img.titular-banner {
    width: 60%;
}