a {
    color: #606061;
}

.row.section.sec-covid .col-md-12.section.col-iz {
    padding: 0;
}

img.banner-covid {
    width: 100%;
}

.row.section.sec-seguridad {
    padding: 4% 11%;
}

.row.section.sec-seguridad .col-md-6.section.col-iz, .row.section.sec-seguridad .col-md-6.section.col-de {
    width: 100%;
    margin: 3%;
}

.col-md-6.section.col-de {
    text-align: center;
}

img.seg {
    width: 70%;
    margin-top: 10%;
}

.row.section.sec-seguridad .col-md-6.section.col-iz p.parr-b {
    width: 85%;
    margin: -33% auto 0 auto;
    background: white;
    padding: 7%;
    border-top-left-radius: 25px;
}

.frase hr {
    border: 2px solid #0170E6;
    width: 25%;
    margin: 0 11%;
}

.row.section.recuadros-sec .col-md-12.section.f-b {
    padding: 0;
}

h2.par-blanco {
    color: white;
    width: 35%;
    padding: 2% 0 0 11%;
}

img.recuadros {
    width: 100%;
    margin-top: -18%;
    position: relative;
    z-index: -9;
}

.row.section.frase {
    margin-top: -13%;
}

.row.section.sec-finals {
    margin-top: 3%;
}

.row.section.sec-finals .col-md-6.section.col-de {
    width: 100%;
}

.sec-finals .col-md-6.section.col-iz {
    display: block;
}

img.mask {
    width: 100%;
}

.row.section.sec-finals {
    padding-right: 11%;
}

p.azul {
    background: #0170E6;
    color: white;
    padding: 11%;
    margin: 0;
}

.row.section.sec-finals {
    display: flex;
    align-items: flex-end;
}

.row.section.sec-finals p:firts-child {
    padding: 0 10%;
}

p.covid-par {
    padding: 0 11%;
    margin-bottom: 10%;
}