a {
    color: #606061;
}


.imagen-banner .col-md-12.section {
    padding: 0;
}

.imagen-banner .col-md-12.section img.banner {
    width: 100%;
}

.row.media {
    margin: 0 11%;
    text-align: center;
}

.media h2 {
    background: white;
    margin-top: -18%;
    padding: 7% 7%;
}

.coy-sec .col-md-6.section.col-iz, .col-md-6.section.col-de, .coy-sec-gris .col-md-6.section.col-iz, .col-md-6.section.col-de {
    width: 100%;
   
}

.coy-sec .col-md-6.section.col-iz {
     padding-right: 20%;
}


img.tel {
    margin-top: 25%;
    width: 100%;

}

.row.section.coy-sec-gris {
    padding: 3% 11%;
    background: #E8E8E8;
    margin-top: -40%;

}

.row.section.coy-sec-gris h2 {
    font-size: 2.3em;
    font-weight: 500;
    margin: 0;
}

.row.section.coy-sec-gris hr {
    border: 2px solid #FFC20E;
    width: 27%;
    margin: 0 0 8% 0;
}

.row.section.coy-sec-amarilla {
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.row.section.coy-sec-amarilla hr {
    border: 2px solid #57585b;
    width: 17%;
    margin: 0 0 8% 0;
}

.row.section.coy-sec-amarilla h2 {
    font-size: 2.3em;
    font-weight: 500;
    margin: 0;
}

.row.section.coy-sec-amarilla .col-md-6.section.col-iz, .col-md-6.section.col-de {
    width: 100%;
}


.row.section.coy-sec-amarilla .col-md-6.section.col-iz {
    padding: 2% 10% 2% 11%;
}

.row.section.coy-sec-amarilla .col-md-6.section.col-iz {
    background-color:  #FFC20E;
}

.row.section.coy-sec-amarilla .col-md-6.section.col-de {
    text-align: right;
}

.row.section.coy-sec-amarilla img.demanda {
    width: 95%;
    position: relative;
    z-index: 99999 !important;
    margin: 10% 0 10% -14%;
}

.row.section.coy-sec-blanco {
    padding: 4% 0;
    display: flex;
    align-items: center;
}

.row.section.coy-sec-blanco .col-md-6.section.col-iz, .col-md-6.section.col-de {
    width: 100%;
}

.row.section.coy-sec-blanco .col-md-6.section.col-de {
    background-color: #E8E8E8;
}

.row.section.coy-sec-blanco .col-md-6.section.col-iz {
    padding-left: 11%;
    padding-right: 10%;

}

.row.section.coy-sec-blanco h2 {
    font-size: 2.3em;
    font-weight: 500;
    margin: 0;
}

.row.section.coy-sec-blanco hr {
    border: 2px solid #FCC20E;
    width: 25%;
    margin: 0 0 8% 0;
}

.row.section.coy-sec-blanco img.expansion {
    width: 60%;
    margin: 8% 0 8% -11%;
}

.row.section.coy-sec-frase-amarilla p.frase-final {
    background: #fcc20e;
    margin: 0;
}

.row.section.coy-sec-frase-amarilla {
    width: 50%;
    margin: auto;
}

.row.section.coy-sec-frase-amarilla p.frase-final {
    background: #fcc20e;
    margin: 0;
    padding: 5% 20%;
    text-align: center;
    font-size: 1.2em;

}
.row.section.coy-sec-frase-amarilla .col-md-12.section.col-iz {
    width: 100%;
}

.row.section.coy-sec-frase-amarilla p.frase-final span {
    font-weight: bold;
    text-decoration: underline;
}