
a {
    color: #606061;
}
.sec-demanda .col-md-12.section {
    padding: 0;
}

img.banner-demanda {
    width: 100%;
}

.row.demanda {
    padding: 3% 11%;
}

.demanda .col-md-6.section-dem-iz {
    width: 100%;
}

.demanda .col-md-6.section-dem-iz img {
    width: 26%;
    margin-top: 2%;
    position: absolute;
    margin-left: 13%;
}

.demanda .col-md-6.section-dem-de {
    width: 100%;
    background: #E6E7E8;
    margin-right: 10%;
    padding: 3% 3% 3% 23%;
}

.demanda .col-md-6.section-dem-de p  {
    margin: 0;
}

.demanda-2 .col-md-6.section-dem-iz {
    width: 90%;

}

.demanda-2 .col-md-6.section-dem-de {
    display: flex;
    width: 100%;

}

.row.demanda-2 p {
    margin-top: 15%;
}

.demanda-2 img {
    width: 100%;
}

.demanda-2 .col-md-6.section-dem-iz {
    margin: 0px 10% 0% 11%;
}