.sec-indicadores .col-md-12.section {
    padding: 0;
}

img.banner-indic  {
    width: 100%;
}

.row.indicadores-2 {
    padding: 1% 11%;
}


.row.indicadores-2 p.bold {
    width: 90%;
    margin: auto;
    background: white;
    padding: 3% 3% 5% 4%;
    margin-top: -12%;
}

.row.indicadores-2  p.col-1 {
    width: 90%;
    margin: auto;
}

 .row.indicadores-2  p.subt {
    color: #0291B2;
    text-align: center;
    font-weight: bold;
}

.row.indicadores-cards {
    padding: 1% 8%;
}

.row.indicadores-cards img {
    width: 100%;
}

.row.indicadores-3, .row.indicadores-4 {
    display: flex;
    align-items: center;
}

.indicadores-3 .col-md-6.section-indi-iz, .col-md-6.section-indi-de, .indicadores-4 .col-md-5.section-indi-iz, .col-md-7.section-indi-de {
    width: 100%;
}

.indicadores-3 .col-md-6.section-indi-de {
    padding: 0 11% 0 5%;
}

.indicadores-3 .col-md-6.section-indi-iz img {
    width: 100%;
}

.indicadores-4 img {
    width: 100%;
}


.indicadores-4 .col-md-7.section-indi-de {
    display: flex;
}

.indicadores-4 .col-md-5.section-indi-iz {
    padding: 3% 5% 0 11%;
}