a {
    color: #606061;
}

.sec-electri .col-md-12.section {
    padding: 0;
}

img.banner-electri {
    width: 100%;
}

.row.elec {
    padding: 2% 11%;
}

.elec .col-md-6.section-de p {
    margin-top: 35%;
}

.row.elec .col-md-6.section-iz,.row.elec .col-md-6.section-de {
    width: 100%;
    margin: 2%;
}

.row.elec .col-md-6.section-iz {
    margin-right:16%;
}

.row.elec.col-md-6.section-de {
    margin-left: 7%;
}


.col-md-6.section-iz p.b {
    width: 90%;
    margin: 5% auto;
}

.col-md-6.section-iz hr {
    border: 2px solid;
}

.elec img {
    width: 100%;
    margin: 3% 0;
}

.row.elec-2 {
    display: flex;
    align-items: center;
}

.elec-2 .col-md-6.section-iz p {
    margin-top: 5%;
}

.elec-2 .col-md-6.section-de, .col-md-6.section-iz {
    width: 100%;
}

.elec-2 .col-md-6.section-de img {
    width: 100%;
}

.elec-2 .col-md-6.section-iz p {
    padding: 0 10% 0 25%;
}

.row.elec-3 {
    background: linear-gradient(270deg, rgba(0,173,238,1) 0%, rgba(0,82,168,1) 100%);
        margin-top: 5%;
        padding-bottom: 5%;

}

.row.elec-3 p {
    color: white;
}

.elec-3 p.subt {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 7% 0;
}

.elec-3 .col-md-12.section {
    padding: 0 11%;
}

.elec-4 .col-md-4 {
    margin: 0 2%;
    width: 100%;
    text-align: center;

}

.elec-4 img {
    width: 30%;
}

.elec-5 {
    margin-top: 5%;
}