img.banner-webinar {
    width: 100%;
}

.row.section.sec-webinar, .row.section.sec-webinar .col-md-12.section {
    padding: 0;
}

.row.section.sec-webinar .col-md-12.section {
    text-align: center;
}

img.foto-francisco {
    width: 25%;
}

div.frase {
    display: flex;
    justify-content: center;
    padding: 3% 11%;
}

p.subtitulo {
    text-align: center;
    font-size: 1.5em;
    margin: 2%;
}

p.subtitulo span {
    font-weight: bold;
}

p.descr {
    width: 50%;
    margin: 2% auto 7%;
    font-size: 13px;
    text-align: center;
}

p.horario {
    text-align: center;
    color: #606061;
    width: 70%;
    margin: 0 auto 2%;
}

p.azul {
    text-align: center;
    color: #05A1E5;
    width: 70%;
    margin:auto;
    font-size: 1.5em;
    font-weight: bold;
}


.col-md-12.section-horario {
    margin: auto;
}

.row.horario {
background: #E0E0E0;
padding: 2% 0;
}

p.resv {
    width: 100%;
    margin: 8% auto 5% auto;
    font-size: 1.2em;
    text-align: center;
}

