img {
    width: 60%;
    margin: auto;
}

nav.pagination-sm.left {
    display: flex;
    justify-content: flex-start;
}

.left ul.pagination {
    padding: 0;
}

/**/
.titulo-grande {
    text-align: center;
}

h1.titulo-futuro {
    margin: 0;
}

span.subtitulo-futuro {
    font-size: 4em;
    background: rgb(109,198,42);
background: linear-gradient(270deg, rgba(109,198,42,1) 0%, rgba(0,167,59,1) 100%);
    color: white;
    padding: 1% 5%;
    font-weight: 600;
    margin-left: 12%;
}

.col-md-12.section.section-futuro {
    padding: 0;
}

img.banner-1 {
    width: 100%;
    position: relative;
    margin-top: -3%;
    z-index: -9;
}

.row.columnas-futuro {
    padding: 5%;
}

.row.columnas-futuro .col-md-6.col-izq p {
    margin-left: 10%;
}

.row.columnas-futuro img {
    width: 80%;
    margin:3% 0;
}

.row.columnas-futuro .col-md-6 {
    margin: 0 2%;
    width: 100%;

}

.row.columnas-futuro hr {
    width: 20%;
    border: 2px solid #56C02E;
    margin: 0;
}

.row.columnas-futuro .col-md-6.col-der {
    margin-top: 13% !important;
}

p.gris {
    background: #E5E5E5;
    padding: 5%;
}

.col-md-12.section.section-final-futuro {
    padding: 0;
    margin-left: 11%;
}

.col-md-12.section.section-final-futuro p {
    width: 37%;
    position: relative;
    color: white;
    margin-bottom: -14%;
    margin-left: 4%;
}

img.imagen-final {
    width: 100%;
    display: flex;
}