
.row.imagen-fondo {
    background-image: url(../img/ganadores-conexione/fondo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.row.image-app {
    display: flex;
    justify-content: center;
}

img.app {
    width: 15%;
}

img.jhony, img.jose {
    width: 55%;
}

img.texto-titulo {
    width: 30%;
    text-align: center;
}

.row.imagen-fondo {
    text-align: center;
}

.row.columnas-ganadores p {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.columnas-ganadores .col-md-6.col-izq {
    padding-top: 12%;
}

.imagen-fondo .col-md-12.section p {
    text-align: center;
}

p.text-1 {
    width: 50%;
    font-size: 1.4em;
    margin: 5% auto 0;
    color: white;

}

p.text-2 {
    width: 50%;
    font-size: 1.4em;
    margin: 5% auto 0;
     color: #003360;
     background: white;
     padding: 1%;
     font-weight: bold;
}