a {
    color: #606061;
}

.row.section.sec-gest .col-md-12.section {
    padding: 0;
}

img.banner-gestoria {
    width: 100%;
}

.gestoria {
    padding: 3% 11%;
    background: #006A9D;
    margin-top: 3%;
}

.row.gestoria .col-md-6.section-gest-iz {
    margin-right: 5%;
}

.gestoria .col-md-6.section-gest-iz, .col-md-6.section-gest-de {
    width: 100%;
}

.gestoria .col-md-6.section-gest-de img {
    width: 70%;
    margin-left: 10%;
}

.gestoria .col-md-6.section-gest-iz p {
    color: white;
}

.gestoria-2 {
    padding: 3% 52% 15% 11%;
    background: white;
    margin-top: -30%;
}

.row.gestoria-3 {
    padding: 0 11%;
    background: white;
}

.row.gestoria-3 img {
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.gestoria-3 .col-md-6.section-gest-de {
    background: #E6E7E8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
}

.row.gestoria-3  .col-md-6.section-gest-iz {
    display: flex;
}

.gestoria-3 .col-md-6.section-gest-de p {
    padding: 8%;
}