.col-md-12.section.logo {
    padding: 0 11%;
}

img.isagen-logo {
    width: 35%;
}

.col-md-12.section.banner {
    padding: 0;
}


img.banner-25 {
    width: 100%;
    display: flex;

}

.col-md-12.section.texto-banner {
    background: #2175B7;
}

.col-md-12.section.texto-banner p {
    color: white;
    text-align: right;
    font-size: 1.7em;
    font-weight: 100;
    width: 70%;
    float: right;
}

.col-md-12.section.texto-final p {
    color: #2175B7;
    text-align: right;
    float: right;
    font-size: 1.8em;
    font-weight: bold;
}

.col-md-12.section.texto-final span {
    font-size: 2em;
}

.col-md-12.section.texto-final {
    width: 100%;
}

.col-md-12.section.texto-final {
    width: 100%;
    margin: 5% 0 0 25%;
    border-left: 3px solid #2175B7;
}