.row.section.sec-red .col-md-12.section {
    padding: 0;
}

img.banner-red {
    width: 100%;
}


.row.medidor {
    padding: 0 11%;
}

.row.medidor .col-md-6.section-medidor-de, .col-md-6.section-medidor-iz {
    width: 100%;
}


.col-md-6.section-medidor-de img {
    width: 100%;
    margin-top: 20%;

}

.row.medidor .col-md-6 {
    margin: 5%;
}

.row.yellow {
    background: #FFC20E;
    padding: 2% 11%;
}

.col-md-12.section-ye {
    width: 80%;
    margin: auto;
}

.col-md-12.section-ye p {
    text-align: center;
}