
@media only screen and (max-width: 600px) {  

/*Menú*/
    img.logo-menu {
        width: 65%;
}

    ul.nav.flex-column.nav-pills li {
        color: #0e4885;
        text-decoration: none;
        padding: 4% 10%;
}

ul.nav.flex-column.nav-pills li:hover {
    padding: 4% 10%;

}

ul.nav.flex-column.nav-pills p {
    padding: 4% 10%;
    margin: 0;
}
    
/*ISAGEN, 25 años de operación experta y confiable*/

    .col-md-12.section.texto-banner p {
    font-size: 1.2em;
    width: 90%;

}

.col-md-12.section.texto-final {
    margin: 5% 10% 0 25%;
}

.col-md-12.section.texto-final span {
    font-size: 1.3em;
}

.col-md-12.section.texto-final p {
    font-size: 1.5em;
}

.col-md-12.section.texto-banner {
    background: #2175B7;
    padding: 2% 6%;
}

/*Ganadores Conexión-e*/

img.app {
    width: 35%;
    margin: 5% 0 0;
}

img.texto-titulo {
    width: 80%;
}

.row.columnas-ganadores {
    display: flex;
    flex-direction: column;
}

img.jhony, img.jose {
    width: 60%;
}

.columnas-ganadores .col-md-6.col-izq {
    margin-bottom: 9%;
}

p.text-1 {
    width: 90%;
}

p.text-2 {
    width: 90%;
    margin-bottom: 10%;
}

/*Boletín energético*/
.boletin-ener .col-md-6.section-iz, .boletin-ener .col-md-6.section-de {
    width: auto;
}

.row.boletin {
    display: flex;
    flex-direction: column;
}

img.reserva_agua {
    display: none;
}

.row.aportes_SIN, .row.reservas_SIN, .row.evolucion, .row.tendencia, .row.generacion_SIN, .row.comportamiento {
    display: flex;
    flex-direction: column;
}

.boletin-ener h1.titulos {
    font-size: 2em;
}

.boletin-ener .col-md-6.section-de {
    margin-left: 0;
}

img.embalse {
    width: 100%;
    margin: auto;
}

img.aportes_hidrologicos, img.reservas_hidricas, img.evolucion_costo, img.tendencia {
    width: 100%;
    margin: 10% 0;
}

img.comportamiento {
    width: 100%;
    margin: 10% 0 0 0;
}


.row.reservas_SIN {
    display: flex;
    flex-direction: column-reverse;
}

.row.evolucion {
    padding: 2% 11%;
}

.row.generacion_SIN {
     display: flex;
    flex-direction: column-reverse;
}

.generacion_SIN .col-md-6.section-de {
    padding: 2% 11%;
}

.evolucion .col-md-6.section-iz {
    padding-left: 0; 
}

/*Electricaribe*/

.row.elec {
    display: flex;
    flex-direction: column;
}

.elec .col-md-6.section-de p {
    margin-top: 3%;
}

.movil img {
    width: 100%;
}

.row.elec-2 {
    display: flex !important;
    flex-direction: column;
}

.elec-2 .col-md-6.section-iz p {
    padding: 5%;
    background: white;
    margin: -12% 11% 0;
    width: auto;
}

.elec-3 p.subt {
    font-size: 1.5em;
}

.row.elec-4 {
    display: flex;
    flex-direction: column;
}

/*Desempeño energético*/
.row.indicadores-2 p.col-1 {
    width: 100%;
}

.row.indicadores-cards {
    display: flex;
    flex-direction: column;
}

.indicadores-3 .col-md-6.section-indi-de {
    padding: 2% 11%;
}

.row.indicadores-4 {
    display: flex;
    flex-direction: column;
}

.indicadores-4 img {
    width: 100%;
    height: auto;
    display: flex;

}

.indicadores-4 .col-md-7.section-indi-de {
    display: block;
}

img.planilla {
    width: 100%;
}

.indicadores-4 .col-md-5.section-indi-iz {
    margin: -9% auto 0;
    background: white;
    padding: 5%;
    width: 80%;
}

.indicadores-4 .col-md-5.section-indi-iz p {
    margin: 0;
}

/*Demanda electricidad*/
.row.demanda, .row.demanda-2 {
    display: flex;
    flex-direction: column;
}

.demanda .col-md-6.section-dem-de {
    background: #E6E7E8;
    margin: auto;
    padding: 6%;
    width: 90%;
}

.demanda-2 .col-md-6.section-dem-iz {
    width: auto;
}

.row.demanda-2 p {
   margin-top: 0;
}

.demanda-2 img {
    margin: 4% 0 0 10%;
}

/*Gestoría*/
.row.gestoria, .row.gestoria-3 {
    display: flex;
    flex-direction: column;
}

.gestoria-2 {
    padding: 2% 11%;
    background: white;
    margin-top: 0;
}

.row.show-mov img.chico-tb {
    width: 100%;
}

.gestoria-3 .col-md-6.section-gest-de {
    background: #E6E7E8;
    border-radius: 20px;
    width: 100%;
    margin: -18% auto 5% auto;
}

.gestoria-3 .col-md-6.section-gest-de p {
    padding: 8%;
    margin: 0;
}

img.chica-tb {
    width: 89%;
    display: flex;
}

/*Operadores Red*/
.row.medidor {
    display: flex;
    flex-direction: column;
}

.row.medidor .col-md-6 {
     margin: 0;
}

.col-md-12.section-ye p {
    text-align: justify;
}

.col-md-12.section-ye {
    width: 100%;
}

img.med-mov {
    width: 100%;
    margin-top: 4%;
    display: flex;
}

/*Eventos formación*/
p.horario {
    text-align: justify;
    color: #606061;
    width: auto;
    margin: 0 auto 2%;
}

.row.horario {
    background: #E0E0E0;
    padding: 5% 11%;
}


p.azul {
    text-align: center;
    width: auto;
}

img.foto-francisco {
    width: 75%;
}

p.subtitulo {
    text-align: center;
    font-size: 1.5em;
    margin: 5%;
    width: 88%;
}

p.descr {
    font-size: 13px;
    text-align: justify;
    padding: 2% 11%;
    width: auto;
}

/*Covid*/
.row.section.sec-seguridad {
    display: flex;
    flex-direction: column;
}

.row.section.sec-seguridad .col-md-6.section.col-iz p.parr-b {
    width: auto;
    margin: 0; 
    background: none; 
    padding: 0; 
    border-top-left-radius: 0;
}

h2.par-blanco {
    background: #020F27;
    padding: 4%;
}

img.covid-mask {
    width: 100%;
}

h2.par-blanco {
    margin: 0;
    text-align: left;
}

h2.par-blanco {
    margin: 0;
    text-align: left;
    width: 71%;
    margin: auto;
}

.row.section.sec-finals {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

img.mask.show-mov {
    margin-top: 5%;
}

/*Contratos Suministros*/
.row.section.coy-sec-limites, .row.section.sec-middle-part {
    display: flex;
    flex-direction: column-reverse;
}

img.limites-mov {
    width: 100%;
}

.row.section.coy-sec-limites h1 {
    margin: 0;
    font-size: 3em;
}

h1.fondo-azul {
    padding: 1% 4%;
    width: fit-content;
    text-align: left;
}

.row.section.coy-sec-limites .col-md-6.section.col-iz {
    width: auto;
    padding: 2% 11%;
}

.row.section.coy-sec-limites h3 {
    margin: 0;
    font-size: 1.4em;
   margin-bottom: 0;
}

.titular.show-mov {
    margin: -45% 0 20% 11%;
    position: relative;
}

.row.section.coy-sec-limites hr {
    height: 3px;
    width: 20%;
    margin: 2% 0 7% 0;
    background: linear-gradient(270deg, rgba(0,173,238,1) 0%, rgba(0,82,168,1) 100%);
    border: none;
}

.row.section.sec-middle-part .col-md-6.section.col-de p {
    padding: 2% 11%;
    width: auto;
    margin: 0;
}

img.calc {
    width: 90%;
    margin: auto;
}

.row.section.sec-card-part p {
    width: auto;
    position: initial;
    z-index:none;
    margin:0;
}

.row.section.sec-card-part {
    padding: 0 11% 5%;
}

.row.section.sec-final-banner p {
    width: 60%;
}


/*Coyuntura energética*/
.media h2 {
    background: white;
    margin-top: -18%;
    padding: 4%;
    font-size: 13px;
    text-align: justify;
}

.row.section.coy-sec, .row.section.coy-sec-amarilla, .row.section.coy-sec-blanco {
    display: flex;
    flex-direction: column;
}

.coy-sec .col-md-6.section.col-iz {
    padding-right: 0;
}

.row.section.coy-sec-gris {
    padding: 5% 5% 13% 5%;
    background: #E8E8E8;
    margin: 10% 11%;
    display: flex;
    flex-direction: column;
}


.row.imagen-tel.show-mov {
    padding: 2% 17%;
    margin-top: -36%;
}

.row.section.coy-sec-amarilla .col-md-6.section.col-iz {
    padding: 5% 5% 13% 5%;
    width: auto;
}

.row.section.coy-sec-amarilla h2 {
    font-size: 2.3em;
    font-weight: 500;
    margin: auto;
    text-align: center;
    background: #FFC20E;
    width: fit-content;
    padding: 2% 7%;
    margin-top: -20%;

}

.row.section.coy-sec-amarilla hr {
    border: 2px solid #57585b;
    width: 17%;
    margin: 0 auto 5% auto;
    margin-bottom: 10%;
}

.row.section.coy-sec-amarilla {
    margin: 2% 10% 11%;
}

.row.section.coy-sec-blanco .col-md-6.section.col-iz, .col-md-6.section.col-de {
    width: auto;
}

.row.section.coy-sec-blanco .col-md-6.section.col-de {
    background-color: white;
}

.row.section.coy-sec-blanco img.expansion {
    width: 100%;
    margin: 8% 0 0 0;
}

.row.section.coy-sec-frase-amarilla {
    width: 80%;
    margin: -12% auto;
}

/*Continuidad con seguridad*/
.col-md-12.section {
    padding: 0;
  }
  
  .row.imagen-grande {
      padding-top: 46%;
  }
  
  img.titular-banner {
      width: 80%;
  }
  
  .row.columnas-continuidad, .row.imagen-grande p.par-1 {
      padding: 2% 11%;
      width: auto !important;
  }
  
  .row.columnas-continuidad, .row.columnas-continuidad-2 {
      display: flex;
      flex-direction: column;
  }
  
  .row.columnas-continuidad hr, .row.columnas-continuidad-2 hr {
      width: 60%;
      margin: 4% 0 12% 0;
  }
  
  .row.columnas-continuidad .col-md-6.col-der, .col-md-6.col-izq {
      margin: 0; 
  }
  
  
  img.ctt {
      width: 100%;
  }
  
  .row.middle-section {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 5% 0;
  }
  
  .row.middle-section .col-md-6.section.s-1 {
    padding: 0; 
  }
  
  img.chs {
      width: 100%;
      margin-top: 5%;
  }
  
  .middle-section p {
      padding: 4%;
      width: auto !important;
  }
  
  p.text-left.parrafo-5 {
      padding: 2% 11%;
      width: auto !important;
      margin-bottom: 5% !important;
  
  }
  
  .row.columnas-continuidad-2 p.text-left.fondo-azul {
      padding: 5% 11%;
      width: auto !important;
  }

  /*Futuro juntos*/
  h1.titulo-futuro {
    font-size: 55px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.row.columnas-futuro {
    display: inline-block;
}
span.subtitulo-futuro {
    font-size: 3em !important;
    margin-left: auto !important;
}
.row.columnas-futuro {
    margin: 7%;
}

.row.columnas-futuro img {
    width: 100% !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gris {
    margin: -10% 11% 0;
}

.col-md-12.section.section-final-futuro p {
    margin: 0 0 -42% 0 !important;
    width: auto !important;
    position: relative;
    padding: 0 11%;
}

.row.columnas-futuro {
    margin:0 !important;
    padding: 0 !important;
}

.row.columnas-futuro .col-md-6.col-izq p {
    margin-left: 10%;
    padding: 5% 11%;
    width: auto !important;
}

.row.columnas-futuro h2 {
    padding: 0 11%;
}

.row.columnas-futuro hr {
    margin: 0 11%;
}

.row.columnas-futuro .col-md-6 {
    margin: 0;
}

.row.columnas-futuro img {
    margin: 0;
    padding: 0;
}

p.text-justify.gris.show-mov {
    position: relative;
    padding: 5% !important; 
}

.col-md-12.section.section-final-futuro {
    padding: 0;
    margin-left: 0;
}

/*Portada*/
.row.portada {
    background-image: url(../img/portada-mov.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.col-md-12.text {
    display: flex;
    justify-content: center;
}

a.boton-portada {
    position: absolute;
    margin: auto;
    bottom: 0;
    margin-bottom: 50%;
}

}



@media only screen and (min-width: 1440px) {  
    p {
        font-size: 1.1em;
    }
    
    /*Planenado el futuro*/
    .col-md-12.section.section-final-futuro p {
        margin-bottom: -9%;
    }
    
    .row.columnas-futuro img {
        margin: 3% 0 5% 0;
    }
    
    /*Continuidad con seguridad*/
    .row.imagen-grande p.par-1 {
        margin-right: 11%;
    }
    
    .row.columnas-continuidad hr, .row.columnas-continuidad-2 hr {
        width: 40%;
    }
    
    
    .row.section.coy-sec-amarilla .col-md-6.section.col-iz {
        padding: 7% 10% 7% 11%;
    }
    
    /*Coyuntura energética*/
    .media h2 {
        margin-top: -11%;
    }
    
    .coy-sec .col-md-6.section.col-iz {
        padding-right: 10%;
    }
    
    img.tel {
        width: 55%;
        margin-top: 10%;
    }
    
    .row.section.coy-sec-gris {
        margin-top: -26%;
    }
    
    .row.section.coy-sec-amarilla img.demanda {
        width: 70%;
    }
    
    /*contratos suministros*/
    .row.section.coy-sec-limites .col-md-6.section.col-iz {
        padding-top: 8%;
    }
    
    .row.section.coy-sec-limites h1 {
        font-size: 9em;
    }
    
    h1.fondo-azul {
        width: fit-content;
        padding: 0 12%;
    }
    
    .row.section.coy-sec-limites .col-md-6.section.col-iz {
        padding-left: 14%;
    }
    
    p.text-left.parrafo-1 {
        margin-top: 8%;
    }
    
    .row.section.coy-sec-limites hr {
        margin-bottom: 9%;
    }
    
    img.card-img {
        width: 87%;
        margin: 13% auto 0;
    }
    
    .row.section.sec-card-part p {
        margin: 5% 0 -34% 5%;
        padding-left: 3%;
    }
    
    .row.section.sec-final-banner p {
        margin-top: -7%;
    }
    
    /*covid*/
    img.seg {
        width: 60%;
        margin-top: 7%;
    }
    
    h2.par-blanco {
        width: 60%;
    }
    
    /*eventos formaciòn*/
    p.descr {
        font-size: 15px;
    }
    
    /*Operadores red*/
    .col-md-6.section-medidor-de img {
        width: 57%;
        margin-top: 9%;
    }
    
    /*Gestoría*/
    .gestoria .col-md-6.section-gest-de img {
        width: 55%;
    }
    
    .gestoria-2 {
        margin-top: -22%;
        padding: 3% 52% 11% 11%;
    }
    
    /*Demanda electricidad*/
    .demanda-2 img {
        width: 80%;
    }
    
    .demanda .col-md-6.section-dem-de {
        margin-right: 3%;
        padding: 6% 8% 6% 23%;
    }
    
    .demanda .col-md-6.section-dem-iz img {
        margin-left: 18%;
        width: 17%;
    }
    
    .demanda-2 .col-md-6.section-dem-iz {
        margin: 1px 10% 0% 20%;
    }
    
    .row.demanda {
        padding: 7% 11%;
    }
    
    /*Desempeño energético*/
    .row.indicadores-2 p.bold {
        margin-top: -9%;
    }
    
    .row.indicadores-cards img {
        width: 80%;
    }
    
    .row.indicadores-cards {
        padding: 2% 8% 7%;
    }
    
    .indicadores-3 .col-md-6.section-indi-iz img {
        width: 85%;
    }
    
    .indicadores-3 .col-md-6.section-indi-de {
        padding: 0 16% 0 5%;
    }
    
    /*Electricaribe*/
    
    .elec img {
        width: 80%;
        margin: 13% auto;
    }
    
    /*Boletín energético*/
.col-md-8.g-c {
    width:100% !important;
}

    .boletin-ener .col-md-6.section-iz {
        text-align: center;
    }
    
    img.reserva_agua {
        width: 70%;
        margin-top: 10%;
    }
    
    h1.titulos {
        text-align: left;
    }
    
    img.comportamiento {
        width: 80%;
    }

    /*ganadores conexion-e*/
 
    img.app {
        width:35%;
    }

}