
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: roboto;
    color: #606061;
    font-size: 13px;
}

.row {
    display: flex;
}

.col-md-4 {
    margin: 0 2%;
}




/*------------------portada---------------*/
.row.portada {
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

img.texto-portada {
    width: 75%;
    margin: 12% auto 0;
    display: flex;
}

.col-md-12.text {
    text-align: center;
}

a.boton-portada {
    background-color: #FF275B;
    font-weight: 300;
    font-family: roboto;
    color: white;
    font-size: 1.5em;
    padding: 1% 3%;
    text-decoration: none;
}

a.boton-portada:hover {
    background-color:#DD1D54;
} 

/*------------------portada---------------*/


/*menu*/


#menu_ppal {
    position: fixed;
    width: 25%;
    height: 100%;
    overflow: scroll;
}

div#menu_btn_close {
    position: absolute;
    top: 0px;
    background: #0f4885;
    padding: 5px 10px;
    border-radius: 50px;
    right: 0;
    color: white;
    font-size: 10px;
    font-size: 14px;
    margin: 3%;
}


.logo-header img {
    width: 40%;
}

.col-md-4.right.logo-header {
    text-align: center;
    width: 100%;

}

img.logo-menu {
    width: 90%;
}

.col-md-4.menu {
    width: 100%;
    background-color: #F6F6F6;
    margin: 0;
    font-size: 15px;
    box-shadow: 7px 0px 11px -4px rgba(0,0,0,0.2);

}

div#menu_ppal {
    z-index: 9;
}

ul.nav.flex-column.nav-pills {
    text-align: right;
    list-style: none;
}

ul.nav.flex-column.nav-pills p {
    background-color: #0E4885;
    padding: 7% 10%;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

ul.nav.flex-column.nav-pills p.o-e {
    background-color: white;
    padding: 7% 10%;
    color: #6D6E72;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.2);

}

ul.nav.flex-column.nav-pills li {
    color: #0e4885;
    text-decoration: none;
    padding: 7% 10% 7% 10%;
}

ul.nav.flex-column.nav-pills li a {
    color: #0e4885;
    text-decoration: none;
}

ul.nav.flex-column.nav-pills li:hover {
    background-color: white;
    padding: 7% 10% 7% 10%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

ul.nav.flex-column.nav-pills li a:active {
    background-color: #F6F6F6
}



/*contenido*/
h1 {
    color: #57585B;
    font-size: 100px;
    font-weight: 900;
}

h2 {
    color: #57585B;
    font-weight: 500;
}

p {
    text-align: justify;
}

.col-md-12.section {
    padding: 5%;
}


/*------------------hamburguer---------------*/
.col-md-3.left.burguer {
    width: 100%;
}

i.fas.fa-bars {
    font-size: 20px;
    color: #0052a8
} 
/*------------------------------*/



.col-md-5.right.naveg {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

div.ant, div.sig {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.naveg p {
    margin: 0;
        color: #0087D0;

}

div.ant {
    padding-right: 10%;
    border-right: 2px solid #0052a8;
    text-align: left;


}

div.sig {
    padding-left: 10%;
    text-align: right;

}

.row.paginacion {
    border-bottom: 1px solid #a5a5a5;
    padding: 0 3%;
    display: flex;
   justify-content: space-between; 
    margin: 0 1%;
    align-items: center;

}

.paginacion a.btn.btn-sm.btn-link {
    color: #0087D0;
    text-decoration: none;
    font-size: 12px;
}

i.fas.fa-chevron-right, i.fas.fa-chevron-left {
    font-size: 20px;
    margin: 10px;
    color: #0087D0;
}

i.fas.fa-chevron-right:hover, i.fas.fa-chevron-left:hover {
    color:#6EC1E4 ;
}

p#open-modal {
    cursor: pointer;
}