/*Móvil General*/
@media only screen and (max-width: 600px) {
    
    
    
    /*MENU*/
    div#menu_ppal {
        width: 100%;
    }
    
    div#menu_btn_close {
        padding-top: 6px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 14px;
    }
    i.fas.fa-home {
    font-size: 25px;
    }
    div#menu_ppal p {
    font-size: 20px;
    }
    div#menu_ppal ul li a {
    font-size: 18px;
    }
    
    i.fas.fa-bars {
    font-size: 24px;
    padding: 20px;
    padding-left: 10px;
    }
    .sig div:first-child {
    display: none;
    }
    .ant div:last-child {
    display: none;
    }
    .ant {
    border-right: none !important;
    }
    .sig {
    border-left: none !important;
    }
    
    /*MENU*/
    
    
    /*LOGO*/
    .logo-header img {
    height: 80px;
    width: auto !important;
    }
    .row.paginacion {
    border-bottom: none;
    }
    /*LOGO*/
    
    
    p.text-left {
    margin: 0px !important;
    padding: 0px;
    width: 100% !important;
    }

    .hide-mov {
        display: none !important;
    }

    .show-mov {
        display: block;
    }

}

/*Móvil General*/


@media only screen and (min-width: 600px) {
.hide-mov {
    display: block;
}

.show-mov {
    display: none !important;
}
}

